/* Base syles */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button, a {
  cursor: pointer;

  &:active {
    outline: none;
  }
}

/* bullshit */
#page-wrap {
    width: 100%;
    height: 100%;
}

/* Login  */

/* Register */

/* Find */

/* Map */
#map {
    width: 100%;
    height: 100%;
}

#ad {
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 200;
    font-size: 40px;
    height: 50px;
    width: 80%;
    position: fixed;
    z-index: 666;
    top: 100px;
    margin-left: 10%;
    background-color: #fff;
    text-align: center;
}
