<div>
    <form method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" ng-model="user.email">
                    <br />
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" ng-model="user.password">
                    <div id="lower">
                        <input type="submit" value="Login" ng-click="sendData()">
                        <button type="button" ng-click="register()">Register</button>
                    </div><!--/ lower-->
                </form>
</div>