<div>
    <form method="post">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="username" ng-model="user.email">
                    <br />
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" ng-model="user.password">
                    <br />
                    <label for="fname">First Name:</label>
                    <input type="text" id="fname" name="fname" ng-model="user.fname">
                    <br />
                    <label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="lname" ng-model="user.lname">
                    <br />
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" ng-model="user.phone">
                    <br />
                    <div id="lower">
                        <input type="submit" value="Register" ng-click="reg()">
                    </div><!--/ lower-->
                </form>
</div>